body{
  background: #ECFDF5;
}

.App {
  text-align: center;
}

input{
  padding: 0.3rem;
  font-size: 1.3rem;
  border-radius: 0.4rem;
  border: 0px;
  margin: 0.7rem;
}

.addTodoBtn{
  background-color: #4F46E5;
  color: #fff;
  border-radius: 0.3rem;
  border: 0px;
  box-shadow: 3px 3px 5px 5px rgba(184, 183, 183, 0.582);
  margin: 1rem;
  font-size: 1.3rem;
  padding: 0.7rem;
}

.addTodoBtn:active{
  transform: scale(0.98);
}

.rbc-day-bg{
  border-radius: 0.3rem;
}



